.messenger {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "users messages";
    gap: 5px;
}

.users, .messages {
    list-style-type: none;
}

.users {
    grid-area: users;
    display: flex;
    flex-direction: column;
}

.users a {
    margin: 5px;
    padding: 5px 10px;
    color: white;
    background-color: #127d96;
    font-weight: 500;
    border-radius: 3px;
    transition: ease-in-out 150ms;
}

.users a:hover {
    background-color: #24abf1;
    transition: background-color ease-in-out 150ms;
}

.messagesBlock {
    grid-area: messages;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.messages {
    flex: 10 10;
}

.messages p {
    width: max-content;
    margin-bottom: 5px;
    padding: 5px;
    color: white;
    background-color: #127d96;
    font-weight: 500;
    border-radius: 3px;
}

.sendForm {
    flex: 1 1;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background-color: #127d96;
    border-radius: 5px;
}

.sendForm input {
    flex: 5 5;
    height: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #127d96;
    font-weight: 500;
}

.sendForm input:active {
    border: none;
}

.sendForm button {
    flex: 1 1;
    height: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #0f516b;
    font-size: 16px;
    font-weight: 600;
    transition: ease-in-out 150ms;
}

.sendForm button:hover {
    cursor: pointer;
    background-color: #053749;
    transition: background-color ease-in-out 150ms;
}